<!-- <div *ngIf="listaCliente && listaCliente.length > 0; else loading">
  <div>
    <h2>Listar clientes</h2>
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>Nome</th>
          <th>CPF</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of listaCliente">
          <td>{{ cliente.id }}</td>
          <td (click)="selecionar(cliente)">{{ cliente.nome }}</td>
          <td>{{ formatarCpf(cliente.cpf) }}</td>
          <td>
            <div (click)="excluir(cliente.id)">X</div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <h2>{{ estaEditando ? 'Atualizar' : 'Cadastrar' }} cliente</h2>
    <div>
      <label for="nome">Nome <span class="fw-bold text-danger">*</span></label>
      <input
        type="text"
        id="nome"
        [(ngModel)]="cliente.nome"
      />
    </div>
    <div class="mb-4">
      <label for="cpf">CPF <span class="fw-bold text-danger">*</span></label>
      <input
        type="text"
        id="cpf"
        maxlength="11"
        [(ngModel)]="cliente.cpf"
      />
    </div>
    <button (click)="salvar()">Salvar</button>
    <button *ngIf="estaEditando" (click)="cancelar()">Cancelar</button>
  </div>
</div>
<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template> -->

<div *ngIf="listaCliente && listaCliente.length > 0; else loading">
  <div>
    <h2>Listar clientes</h2>
    <mat-selection-list>
      <a mat-list-item (click)="selecionar(cliente)" *ngFor="let cliente of listaCliente">
        <span>{{ cliente.id }} </span>
        <span>{{ cliente.nome }} </span>
        <span>{{ formatarCpf(cliente.cpf) }} </span>
        <span><mat-icon class="mat-18" (click)="excluir(cliente.id)">delete</mat-icon></span>
      </a>
    </mat-selection-list>
  </div>
  <div>
    <h2>{{ estaEditando ? 'Atualizar' : 'Cadastrar' }} cliente</h2>
    <mat-form-field>
      <mat-label for="nome">Nome *</mat-label>
      <input
        type="text"
        id="nome"
        [(ngModel)]="cliente.nome"
        matInput
      />
    </mat-form-field><br>
    <mat-form-field>
      <mat-label for="cpf">CPF *</mat-label>
      <input
        type="text"
        id="cpf"
        maxlength="11"
        [(ngModel)]="cliente.cpf"
        matInput
      />
    </mat-form-field><br><br>
    <button mat-raised-button color="primary" (click)="salvar()">Salvar</button>
    <button mat-raised-button *ngIf="estaEditando" (click)="cancelar()">Cancelar</button>
  </div>
</div>
<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>

