<div>
    <h2>Exercício 02</h2>
    <div class="flex">
        <input type="text" [(ngModel)]="nome">
        <img *ngIf="nome != ''" src="https://static.vecteezy.com/system/resources/previews/002/743/514/original/green-check-mark-icon-in-a-circle-free-vector.jpg" alt="">
        <img *ngIf="nome.toLowerCase() == 'mario'" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/63f1fa19-6c94-43b4-ba7e-e5d2ff356331/dd81xfl-61471a15-cb09-4ef5-a94f-99a58d8b5e11.png/v1/fill/w_1280,h_1531,strp/mario_icon_by_usanintendo_dd81xfl-fullview.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTUzMSIsInBhdGgiOiJcL2ZcLzYzZjFmYTE5LTZjOTQtNDNiNC1iYTdlLWU1ZDJmZjM1NjMzMVwvZGQ4MXhmbC02MTQ3MWExNS1jYjA5LTRlZjUtYTk0Zi05OWE1OGQ4YjVlMTEucG5nIiwid2lkdGgiOiI8PTEyODAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.vffk0CEjIGS3W-7a49LAxlEHNdmy5aFYuVvCrf56nYU" alt="">
    </div>
</div>