<h1>Aula</h1>
<app-propbind></app-propbind>
<hr>
<app-ex01></app-ex01>
<hr>
<h1>Exercícios</h1>
<app-exercicio01></app-exercicio01>
<hr>
<app-exercicio02></app-exercicio02>
<hr>
<app-exercicio03></app-exercicio03>
<hr>
<app-exercicio04></app-exercicio04>
<hr>
<app-exercicio05></app-exercicio05>
<hr>
<app-exercicio06></app-exercicio06>
<hr>
<app-exercicio07></app-exercicio07>
<hr>
<app-exercicio08></app-exercicio08>
<hr>
<app-exercicio09></app-exercicio09>
<hr>
<app-exercicio10></app-exercicio10>
