.alemanha{
  color: orange;
  font-weight: bold;
  background-color: yellow;
  border: 1px solid black;
}


.brasil{
  color: yellow;
  font-style: italic;
  background-color: blue;
  border: 1px solid green;
}
